* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox {
  width: 420px;
  height: 650px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
}

.header {
  background: #4f46e5;
  color: white;
  padding: 18px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  max-width: 75%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 15px;
}

.user {
  background: #4f46e5;
  color: white;
  margin-left: auto;
}

.bot {
  background: #e5e7eb;
  color: black;
  margin-right: auto;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

.input-area input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-area button {
  padding: 15px 25px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

.input-area button:hover {
  background: #4338ca;
}
